.formulaire{
    background-color: rgb(54, 54, 54);
    width: 50%;
    padding: 2rem;
    display: flex;  
    border-radius: 10px;
    color: rgb(196, 134, 20);
    font-weight: bold;
    position: absolute!important;
    top: 8rem;
    left: 18rem;
    animation: appear 0.8s ;
    display: none;
    
}

.oneInput{
    width: 35%;
}

.bottomInput,
.topInput{
    display: flex;
    flex-direction: row;
    gap: 4vw;
}

.indication{
    font-weight: 300;
    color: white;
}

@keyframes appear {
    from{
        transform: scale(0);
    }to{
        transform: scale(1);
    }
}

.fermer{
    position: absolute;
    top: 1vw;
    right: 1vw;
}


.toggledAddPossession{
    display: inherit;
}